{% extends 'menu.html' %}
{%block more_content%}
	<div id = "bids_banner">		
	{%for item in items[0:4] %}
		<div class = " bid_ad ">
			<a href = "/item?code={{ item.code }}">
				<img src = "/static/imgs/{{ item.image_url }}" width = "100px" height = "100px">
				<h2>{{ item.name }}</h2>
				<p><label>{{ item.description }}</label></p>
				<label class = "bid_current">Highest bid: <strong>${{ item.highest_bid }}</strong></label>
			</a>
		</div>
	{%endfor%}
	</div>
			
	<div id = "content">
	{% block content%}{% endblock%}
	</div>
{% endblock %}

